.indicator-bar-weak {
   width: 20px;
   height: 10px;
   margin-right: 5px;
   background-color: #f44336;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
}


.indicator-bar-strong {
   width: 20px;
   height: 10px;
   margin-right: 5px;
   background-color: #4CAF50;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
}


.display-flex{
   display: flex;
}

